@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color : #2a2e34;
    --beginnercolor: #848484;
    --intermediatecolor:#1170d7;
    --advancecolor:#2a8559;
    --taskdaycolor:#ff98cd;
    --day1-badge-color :#3a3b41;
    --day2-badge-color :#2c6181;
    --day3-badge-color :#7c3f42;
    --day4-badge-color :#42508f;
    --day5-badge-color :#3f725f;
    --day6-badge-color :#8b6d27;
    
}
body {
  background-color: var(--color);
  color: #fff;
  font-family: 'poppins';
  margin: 0;
  padding: 5px;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color);
  padding: 10px 5px 20px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.505);
}

.header .title {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'poppins';
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.tasks {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.beginner {
    background-color: var(--beginnercolor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.intermediate {
  background-color: #7ea0ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.circle {
    height: 15px;
    width: 15px;
    color: #222;
}
.tasks .title {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.449);
  border-top: 1px solid rgba(255, 255, 255, 0.449);
}
.task {
  background-color: var(--color);
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  padding: 10px 5px;
}
.task a {
  text-decoration: none;
  color: white;
}
.beginner-sec .task:hover {
background-color: rgba(128, 128, 128, 0.212);
}
.beginner-sec .task a:hover {
  color: #a89fff;
}
.day-1,.day-2, .day-3, .day-4, .day-5 , .day-6 {
  padding: 1px 10px;
  margin: 0px 10px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}
.day-1 {
  background-color: var(--day1-badge-color);
}
.day-2 {
  background-color: var(--day2-badge-color);

}
.day-3 {
  background-color: var(--day3-badge-color);
}
.day-4{
  background-color: var(--day4-badge-color);
}
.day-5{
  background-color: var(--day5-badge-color);
}

